In [4]:
!pip install psycopg2-binary

Requirement already satisfied: psycopg2-binary in /home/gavincanete/Personal/Projects/AirflowProject/dataEnv/lib/python3.10/site-packages (2.9.6)

In [1]:
import psycopg2
import pandas as pd
from configparser import ConfigParser

# Connecting to shoe_db database

In [2]:
def get_credentials():
    filename = 'shoe_database.ini'

    parser = ConfigParser()
    parser.read(filename)

    credential = {}

    for param in parser.items('postgresql'):
        credential[param[0]] = param[1]

    return credential

In [3]:
try:
    db = get_credentials()
    conn = psycopg2.connect(**db)
except psycopg2.Error as e:
    print(e)

try:
    cur = conn.cursor()
except psycopg2.Error as e:
    print(e)
conn.set_session(autocommit=True)

# SHOW MEN SHOES

In [7]:
cur.execute('select * from men_shoes')
men_shoes_row = cur.fetchall()

df = pd.DataFrame(men_shoes_row,  columns=['stock_number', 'color', 'sizes', 'description'])
df

    stock_number color               sizes          description
0            566   blk          5 to 9 top          sider black
1            566   gry          5 to 9 top           sider gray
2            563   gry        5 to 9 tyler                 gray
3            566   brn          5 to 9 top          sider brown
4            561   blk       5 to 9 reccan                black
5            562   bge       5 to 9 justin                beige
6            560   brn          5 to 9 TSI  (leatherette) brown
7            560   gry          5 to 9 TSI   (leatherette) gray
8            559   gry        5 to 9 Front   (leatherette) gray
9            559   blk        5 to 9 Front  (leatherette) black
10           557   nvy           5 to 9 JY                 navy
11           557   blk           5 to 9 JY                black
12           556   blk       5 to 9 hi-cut            all black
13           557   gry           5 to 9 JY                 gray
14           551   blu   5 to 9 espadrille                 blue
15           555   brn       5 to 9 foamed                brown
16           551   org   5 to 9 espadrille               orange
17           551   vlt   5 to 9 espadrille               violet
18           550   gry       5 to 9 double            drop gray
19           550   blk       5 to 9 double           drop black
20           537   grn  5 to 9 leatherette     side patch green
21           537   blk  5 to 9 leatherette     side patch black
22           539   gry            5 to 9 2         stripes gray
23           539   nvy            5 to 9 2         stripes navy
24           535   blk        5 to 9 jazzi                black
25           539   blk            5 to 9 2        stripes black
26           526   gry       5 to 9 lecker   (leatherette) gray
27           530   gry       5 to 9 sniper                 gray
28           522   blk        5 to 9 ethan                black
29           522   wht        5 to 9 ethan                white
30           512   blk         5 to 9 leaf                black
31           512   gry         5 to 9 leaf                 gray
32           507   red         5 to 9 niko                  red
33           507   gry         5 to 9 niko                 gray
34           500   blk       5 to 9 jayvee                black
35           502   blk        5 to 9 under          cover black
36           398   blk        5 to 9 jazzi           slim black
37           398   wht        5 to 9 jazzi           slim white
38           297   blk          5 to 9 eye                black
39           357   blk          5 to 9 sun                black
40           303   blk        5 to 9 vines         gothic black
41           361   blk           5 to 9 1G                black

# SHOW LADIES SHOES

In [6]:
cur.execute('select * from ladies_shoes')
ladies_shoes_row = cur.fetchall()

df = pd.DataFrame(ladies_shoes_row,  columns=['stock_number', 'color', 'sizes', 'description'])
df.head()

   stock_number color       sizes            description
0           566   mrn  4 to 8 1/2       top sider maroon
1           566   mnt  4 to 8 1/2         top sider mint
2           565   mnt  4 to 8 1/2             jelly mint
3           565   mrn  4 to 8 1/2           jelly maroon
4           558   red  4 to 8 1/2  lcc (leatherette) red

# SHOW JUNIOR SHOES

In [7]:
cur.execute('select * from jnrs_shoes')
jnrs_shoes_row = cur.fetchall()

df = pd.DataFrame(jnrs_shoes_row,  columns=['stock_number', 'color', 'sizes', 'description'])
df.head()

   stock_number color       sizes                  description
0           563   gry  1 to 4 1/2         (juniors) tyler gray
1           530   mrn  1 to 4 1/2      (juniors) sniper maroon
2           556   blk  1 to 4 1/2   (juniors) hi-cut all black
3           502   blk  1 to 4 1/2  (juniors) under cover black
4           522   blk  1 to 4 1/2        (juniors) ethan black