In [4]:
!pip install psycopg2-binary

Requirement already satisfied: psycopg2-binary in /home/gavincanete/Personal/Projects/AirflowProject/dataEnv/lib/python3.10/site-packages (2.9.6)

In [2]:
import psycopg2
import pandas as pd
from configparser import ConfigParser

# Connecting to shoe_db database

In [3]:
def get_credentials():
    filename = 'shoe_database.ini'

    parser = ConfigParser()
    parser.read(filename)

    credential = {}

    for param in parser.items('postgresql'):
        credential[param[0]] = param[1]

    return credential

In [4]:
try:
    db = get_credentials()
    conn = psycopg2.connect(**db)
except psycopg2.Error as e:
    print(e)

try:
    cur = conn.cursor()
except psycopg2.Error as e:
    print(e)
conn.set_session(autocommit=True)

# SHOW MEN SHOES

In [6]:
cur.execute('select * from men_shoes')
men_shoes_row = cur.fetchall()

df = pd.DataFrame(men_shoes_row,  columns=['stock_number', 'color', 'sizes', 'description'])
df.head()

   stock_number color   sizes      description
0           566   blk  5 to 9  top sider black
1           566   gry  5 to 9   top sider gray
2           563   gry  5 to 9       tyler gray
3           566   brn  5 to 9  top sider brown
4           561   blk  5 to 9     reccan black

# SHOW LADIES SHOES

In [6]:
cur.execute('select * from ladies_shoes')
ladies_shoes_row = cur.fetchall()

df = pd.DataFrame(ladies_shoes_row,  columns=['stock_number', 'color', 'sizes', 'description'])
df.head()

   stock_number color       sizes            description
0           566   mrn  4 to 8 1/2       top sider maroon
1           566   mnt  4 to 8 1/2         top sider mint
2           565   mnt  4 to 8 1/2             jelly mint
3           565   mrn  4 to 8 1/2           jelly maroon
4           558   red  4 to 8 1/2  lcc (leatherette) red

# SHOW JUNIOR SHOES

In [7]:
cur.execute('select * from jnrs_shoes')
jnrs_shoes_row = cur.fetchall()

df = pd.DataFrame(jnrs_shoes_row,  columns=['stock_number', 'color', 'sizes', 'description'])
df.head()

   stock_number color       sizes                  description
0           563   gry  1 to 4 1/2         (juniors) tyler gray
1           530   mrn  1 to 4 1/2      (juniors) sniper maroon
2           556   blk  1 to 4 1/2   (juniors) hi-cut all black
3           502   blk  1 to 4 1/2  (juniors) under cover black
4           522   blk  1 to 4 1/2        (juniors) ethan black